<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des médias</title>
</head>
<body>
    <h1>Liste des médias</h1>
    <h2>Livres</h2>
    {% for livre in livres %}
    <ul>
        <li>{{ livre.titre }} - {{ livre.auteur }}</li>
    </ul>
    {% endfor %}
    <h2>DVD</h2>
    {% for dvd in dvds %}
    <ul>
        <li>{{ dvd.titre }} - {{ dvd.realisateur }}</li>
    </ul>
    {% endfor %}
    <h2>CD</h2>
    {% for cd in cds %}
    <ul>
        <li>{{ cd.titre }} - {{ cd.artiste }}</li>
    </ul>
    {% endfor %}
    <h2>Jeux de plateau</h2>
    {% for jeudeplateau in jeudeplateaus %}
    <ul>
        <li>{{ jeudeplateau.titre }} - {{ jeudeplateau.createur }}</li>
    </ul>
    {% endfor %}
    <form action="{% url 'accounts:logout' %}" method="post" style="display:inline">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
</body>
</html>