<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil bibliotécaire</title>
</head>
<body>
    <h1>Espace bibliotécaires</h1>
    <ul>
        <li><a href="{% url 'staff:emprunteur_list' %}">Gérer les membres</a></li>
        <li><a href="{% url 'staff:media_list_staff' %}">Gérer les médias</a></li>
        <li><a href="{% url 'staff:emprunt_list' %}">Gérer les emprunts</a></li>
    </ul>
    <form action="{% url 'accounts:logout' %}" method="post" style="display:inline">
        {% csrf_token %}
        <button type="submit">Se déconnecter</button>
    </form>
</body>
</html>